@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* Toolbarbutton */

#permatabs-togglebutton
{
	list-style-image: url(images/toolbarbutton.png);
}
toolbar[iconsize="small"] #permatabs-togglebutton
{
	list-style-image: url(images/toolbarbutton_s.png);
}

#permatabs-togglebutton[disabled=true]
{
	list-style-image: url(images/toolbarbutton_d.png);
}
toolbar[iconsize="small"] #permatabs-togglebutton[disabled=true]
{
	list-style-image: url(images/toolbarbutton_s_d.png);
}

#permatabs-togglebutton[type="menu-button"][checked=true]
{
	padding: 0px !important;
}


/* Prefwindow-panels */

#permaTabsPrefWindow radio[pane]
{
	list-style-image: url(chrome://browser/skin/preferences/Options.png);
}

#permaTabsPrefWindow radio[pane="permaTabPrefMainPane"]
{
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}

#permaTabsPrefWindow radio[pane="permaTabPrefAdvancedPane"]
{
	-moz-image-region: rect(0px, 224px, 32px, 192px);
}

#permaTabsPrefWindow radio[pane="permaTabPrefShortcutsPane"]
{
	list-style-image: url(images/shortcuts.png);
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}


/* Prefwindow misc */

#permaTabPrefInfo
{
	margin-top: 5px;
 	font-style: italic;
}

.colorpicker
{
	margin-left: 10px;
	margin-right: 0px;
}


/* Main */

.tabbrowser-tab[isPermaTab=true] .tabs-closebutton,
.tabbrowser-tab[isPermaTab=true] .tab-close-button
{
	display: none !important;
}

#browser tab.tabbrowser-tab[isPermaTab=true] *
{
	background-color: transparent !important;
	color: #000000 !important;
}

#browser tab.tabbrowser-tab:not([selected="true"])[isPermaTab=true] .tab-image-left { }
#browser tab.tabbrowser-tab:not([selected="true"])[isPermaTab=true] .tab-image-middle { }
#browser tab.tabbrowser-tab:not([selected="true"])[isPermaTab=true] .tab-image-right { }
#browser tab.tabbrowser-tab[isPermaTab=true] .tab-image-left { }
#browser tab.tabbrowser-tab[isPermaTab=true] .tab-image-middle { }
#browser tab.tabbrowser-tab[isPermaTab=true] .tab-image-right { }

#browser tab.tabbrowser-tab[isPermaTab=true]
{
	background-color: #f2f2a9 !important;
	color: #000000 !important;
	background-image: none !important;
}