@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* Toolbarbutton */

#permatabs-togglebutton
{
	list-style-image: url(images/toolbarbutton.png);
}
toolbar[iconsize="small"] #permatabs-togglebutton
{
	list-style-image: url(images/toolbarbutton_s.png);
}


/* Main */

.tabbrowser-tab[isPermaTab=true] .tabs-closebutton,
.tabbrowser-tab[isPermaTab=true] .tab-close-button
{
	display: none !important;
}

#browser tab.tabbrowser-tab[isPermaTab=true] *
{
	background-color: transparent !important;
	color: #000000 !important;
}

#browser tab.tabbrowser-tab:not([selected="true"])[isPermaTab=true] .tab-image-left { }
#browser tab.tabbrowser-tab:not([selected="true"])[isPermaTab=true] .tab-image-middle { }
#browser tab.tabbrowser-tab:not([selected="true"])[isPermaTab=true] .tab-image-right { }
#browser tab.tabbrowser-tab[isPermaTab=true] .tab-image-left { }
#browser tab.tabbrowser-tab[isPermaTab=true] .tab-image-middle { }
#browser tab.tabbrowser-tab[isPermaTab=true] .tab-image-right { }

#browser tab.tabbrowser-tab[isPermaTab=true]
{
	background-color: #f2f2a9 !important;
	color: #000000 !important;
	background-image: none !important;
}